body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.header-bar {
    background-color: #333;
    color: gray;
    padding: 10px 60px;
    font-size: 19px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.todo-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 600px; 
}

h1 { 
     color: #333;
     margin-top: 0; 
     margin-bottom: 20px;
    }

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#add-btn {
    background-color: #337ab7; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

ul { list-style: none; padding: 0; border: 1px solid #eee; }

li {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    gap: 15px;
}

li:last-child { border-bottom: none; }

.todo-text { flex: 1; color: black; }

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background: none;
    border: none;
    color: #d9534f; 
    cursor: pointer;
    font-size: 1.1rem;
}